@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('./assets/bg.jpg');
    background-repeat: no-repeat;
}

@media (max-width: 810px) {
    body {
        background-position: top ;
    }
}
